InternalAPI/InternalAPI/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
sh.exe.stackdump
CitasAPI/.vs/CitasAPI/FileContentIndex/3ae2330e-ce04-4eec-a15b-de9a3bb14019.vsidx
CitasAPI/.vs/CitasAPI/FileContentIndex/6899fda0-6cfc-4898-883b-88984c96797d.vsidx
CitasAPI/.vs/CitasAPI/FileContentIndex/b5d21c1f-fe1d-4f30-b14e-05c76496c637.vsidx
CitasAPI/.vs/CitasAPI/FileContentIndex/c589c1eb-3486-4c87-98fa-92185f3b4447.vsidx
PlataformaCitas/.vs/PlataformaCitas/FileContentIndex/12360d9b-2a21-4dcf-8b31-f6bc57d32216.vsidx
PlataformaCitas/.vs/PlataformaCitas/FileContentIndex/22dcff41-89f4-4cf4-82bd-2fb049626ee0.vsidx
PlataformaCitas/.vs/PlataformaCitas/FileContentIndex/3761a001-dc59-47bb-9b26-ed3f76432050.vsidx
PlataformaCitas/.vs/PlataformaCitas/FileContentIndex/8905ae77-ebcf-43c0-bb80-e12abd45ebf0.vsidx
