InternalAPI/InternalAPI/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
sh.exe.stackdump
PlataformaCitas/.vs/PlataformaCitas/FileContentIndex/6bb8b8e1-a71b-40f4-9ef9-d7f5840fb6e9.vsidx
PlataformaCitas/.vs/PlataformaCitas/FileContentIndex/39099a11-8b51-4170-b588-d72bec6f5b48.vsidx
CitasAPI/.vs/CitasAPI/FileContentIndex/b644cc23-eda8-46e5-a230-790ad676f443.vsidx
CitasAPI/.vs/CitasAPI/FileContentIndex/b445b4a4-5160-49ca-938a-1ac562849ca3.vsidx
