@{
    ViewData["Title"] = "Home Page";
}
@model lDoctores

<div class="text-center bg-white mh-100 box-shadow mt-5">
    <h3 class="display-5 mb-3 pt-3">Selecciona el Medico de su preferencia</h3>

    @if(Model.bError == false)
    {   <div class="overflow-auto over mh-helper ">
        @foreach(var Doctor in Model.Doctores)
        {
            <div class="attribute-group border mx-auto mb-1 w-50 h-50 mb-2 p-2 d-flex flex-row">
                <img alt="@Doctor.Nombre" src="~/css/@Doctor.img" />
                <div class="p-2 mx-auto">
                    <label>@Doctor.Nombre</label>
                    <br/>
                    <label>Medigo General</label>
                    <br/>
                    <a class="btn btn-aux-plataforma-green mb-3" href="Citas?Id=@Doctor.IdRollElemento">Solicitar Cita</a>
                    <a class="btn btn-aux-plataforma-green mb-3" href="CitasManual?Id=@Doctor.IdRollElemento">Solicitar Cita Manual</a>
                </div>
            </div>
        }
        </div>
    }

    <!--@using (Html.BeginForm("TestApi", "Home"))
    {
       <button type="submit" class="btn btn-primary">
           <p class="textRight">
               Test
           </p>
       </button>
    }  
       <button type="button" class="btn btn-primary" onclick="testApi()">
           <p class="textRight">
               Test2
           </p>
       </button>
       <button type="button" class="btn btn-primary" onclick="exampleRequestJQuery()">
           <p class="textRight">
               Test3
           </p>
       </button>-->
</div>
